<div class="mega-sena-container">
  <h2 class="title">🎲 Sorteio Milionário 🎲</h2>

  <div class="input-container">
    <label for="numerosSorteados" class="label">Números Premiados:</label>
    <input type="text" id="numerosSorteados" [(ngModel)]="numerosSorteados" class="input" />
  </div>

  <div class="input-container">
    <label for="aposta" class="label">Faça sua Aposta:</label>
    <input type="text" id="aposta" [(ngModel)]="aposta" class="input" />
  </div>

  <button (click)="checkNumeros()" class="check-button">Verificar Sorte</button>

  <div *ngIf="resultado !== null" class="result-container">
    <p class="result-text">💰 Você acertou {{ resultado }} números! Parabéns! 💰</p>
  </div>
</div>
